Hey <%=@user.name%><br/>
Current Level: <%=@user.lvl%><br/>
Score : <%=@user.score%><br />
<a href="/quiz">Continue Quiz</a><br />

<a href="/leaderboard">Leaderboard</a>

<% if @user.thuntadmin?%>
	<a href='/admin'>Admin</a>
<%end%>
