Hey <%=@user.name%><br/>
Current Level: <%=@user.lvl%><br/>
Score : <%=@user.score%><br />
<a href="/quiz">Continue Quiz</a><br />
<<<<<<< HEAD
<a href="/leaderboard">Leaderboard</a>

<% if @user.thuntadmin?%>
	<a href='/admin'>Admin</a>
<%end%>
=======
<a href="/leaderboard">Leaderboard</a>
>>>>>>> 5d05bb7d6789973a3cb3fb332e606c05280f4084
